<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <add key="HttpUrl" value="http://demo.seaskysh.com:8083/" />
    <add key="SystemID" value="14aa7d95-365d-4fc8-86da-425b62a8b1cd" />
    <add key="Secret" value="425b62a8ba7d95365d" />
  </appSettings>
</configuration>
